@tailwind base;
@tailwind components;
.border-r{
    border-right-width: 10px;
}

.border-t{
    border-top-width: 10px;
}

.border-l{
    border-left-width: 10px;
}

.border-b{
    border-bottom-width: 10px;
}
@tailwind utilities;